.car-card {
  margin: 1rem;
  max-width: 400px;
}

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px; /* adjust as needed */
}



.center-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}


.loader-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,0.85); /* semi-transparent black */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* on top of everything */
}

.car-image {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 8px;
  margin-top: 10px;
}