<!--<div class="car-list-container">-->

<h2 style="text-align: center;">Car List</h2>



<app-add-item-button (saved)="addCar($event)"></app-add-item-button>

<app-search
  [source]="cars()"
  [keys]="['model', 'color', 'price']"
  [searchValue]="searchText"
  (result)="filteredCars.set($event)">
</app-search>

<ul class="car-list">
  <li *ngFor="let car of filteredCars(); trackBy: trackByCarId">
    <app-item
      [itemInfo]="car"
      type="car"
      (edit)="editCar($event)"          
      (delete)="deleteCar($event)"       
      (viewDetails)="detailsCar($event)"
      (requestInfo)="openRequestInfoDialog($event)">
    </app-item>
  </li>
</ul>