<h2 mat-dialog-title>{{ isEditMode ? 'Edit Car' : 'Add Car' }}</h2>

<div mat-dialog-content [formGroup]="carForm">
  <mat-form-field>
    <mat-label>Model</mat-label>
    <input matInput formControlName="model">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Color</mat-label>
    <input matInput formControlName="color">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Date</mat-label>
    <input matInput type="date" formControlName="date">
  </mat-form-field>

  <mat-form-field appearance="fill">
  <mat-label>Price</mat-label>
  <input matInput type="number" formControlName="price"  />
</mat-form-field>

  <mat-form-field>
    <mat-label>Details</mat-label>
    <input matInput formControlName="details">
  </mat-form-field>

  <div class="image-upload">
    <button mat-stroked-button type="button" (click)="fileInput.click()">
      Upload Image
    </button>
    <input #fileInput type="file" (change)="onFileSelected($event)" hidden>
  </div>

  <div *ngIf="selectedImageBase64" class="image-preview">
    <img [src]="selectedImageBase64" alt="Preview">
  </div>
</div>

<div mat-dialog-actions align="end">
  <button mat-button (click)="close()">Cancel</button>
  <button mat-raised-button color="primary" (click)="save()">
    {{ isEditMode?  'Update' : 'Save' }}
  </button>
</div>
