<h2 style="text-align:center;">🚛 Truck List</h2>

<app-add-item-button (saved)="addTruck($event)"></app-add-item-button>
<app-search
  [source]="trucks()"
  [keys]="['model', 'color', 'price']"
  [searchValue]="searchText"
  (result)="filteredTrucks.set($event)">
</app-search>


<ul class="car-list">
@for (truck of filteredTrucks(); track truck.id){
   <li>
     <app-item
  [itemInfo]="truck"
  type="truck"
  (edit)="editTruck($event)"
  (delete)="deleteTruck($event)"    
  (viewDetails)="detailsTruck($event)"
  (requestInfo)="openRequestInfoDialog($event)">
</app-item>
    </li>
 }

</ul>