.car-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.car-card {
  max-width: 400px;
  margin: auto;
}

.spinner-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.6);
  z-index: 1000;
}

.navbar {
  display: flex !important;
  align-items: center;
  padding: 12px 20px;
  background-color: #1976d2;
}
.nav-left {
  display: flex;
  gap: 20px;
  color: white;
  font-size: 18px;
}

.nav-right {
  margin-left: auto; /* ⬅ pushes logout ALL THE WAY RIGHT */
}

.logout-btn {
  background: #ff3d2f;
  color: white;
  border: none;
  padding: 8px 18px;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
}
.layout {
    display: flex;
    min-height: 100vh;
}

.content {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
}

app-sidebar {
  width: 250px;
  flex-shrink: 0;
}